
<div style="text-align: center;">
    <table class="table table-dark">
        <thead>
            <tr>
                <th>nombre de la categoria</th>
            </tr>
        </thead>
        <tbody> 
            <tr *ngFor="let categoria of getCat">
                <td>
                    {{categoria.descripcion}}
                </td>
              
            </tr>
        </tbody>
    </table>
</div>
<div class="card">
    <div class="card-header">Formulario de categoria </div>
    <div class="card-body">
        <form [formGroup]="formCat" (ngSubmit)="guardarCategoria()">
            <div class="form-group">
                <input formControlName="descripcion" placeholder="¿Cual es el nombre de la categoria?" type="text" class="form-control">
            </div>
            <button class="btn btn-success">Guardar categoria</button>
        </form>
    </div>
</div>
