<div class="row" style="margin-top: 150px;">
    <div class="col-md-4 mx-auto">
        <div class="card">
            <div class="card-header" style="text-align: center;">
                <img src="../../../assets/img/logo-CET30.png " style="width: 30%; ">
            </div>
            <div class="card-body ">
                <form [formGroup]="formRegistro " (ngSubmit)="registrar() ">
                    <div class="form-group ">
                        <input formControlName="username " type="text " class="form-control " placeholder="Ingrese nombre de Usuario ">
                        <!-- [ngClass]="{'is-invalid':(formRegistro.get('username')?.touched || formRegistro.get('username')?.dirty) && formRegistro.get('username')?.invalid}" -->
                        <!-- <div class="invalid-feedback">
                            <span *ngIf="formRegistro.get('username') .hasError('required')">Campo requerido e </span>
                            <span *ngIf="!formRegistro.get('username') .hasError('minLenght')">Ingrese minimo 3 caracteres</span>
                        </div> -->
                    </div>
                    <div class="form-group ">
                        <input formControlName="password " type="password " class="form-control " placeholder="Ingrese contraseña ">
                        <!-- [ngClass]="{'is-invalid':(formRegistro.get('password')?.touched || formRegistro.get('password')?.dirty) && formRegistro.get('password')?.invalid}" -->
                        <!-- <div class="invalid-feedback">
                            <span *ngIf="formRegistro.get('password') .hasError('required')">Campo requerido e </span>
                            <span *ngIf="!formRegistro.get('password') .hasError('minLenght')">Ingrese minimo 3 caracteres</span>
                        </div> -->
                    </div>
                    <div class="form-group ">
                        <input formControlName="email " type="text " class="form-control " placeholder="Ingrese E-Mail ">
                        <!-- [ngClass]="{'is-invalid':(formRegistro.get('email')?.touched || formRegistro.get('email')?.dirty) && formRnvalid}egistro.get('email')?.i" -->
                        <!-- <div class="invalid-feedback">
                            <span *ngIf="formRegistro.get('email') .hasError('required')">Campo requerido e </span>
                            <span *ngIf="!formRegistro.get('email') .hasError('minLenght')">Ingrese minimo 3 caracteres</span>
                        </div> -->
                    </div>
                    <div class="form-group">


                        <table>
                            <tbody>
                                <tr>
                                    <td></td>
                                    <td><button class="btn btn-success" style="border: #000 1px solid;">Registrar</button> </td> 
                                    <!-- [disabled]="formRegistro.invalid" type="submit"  -->
                                    <td></td>
                                    <td><button style="border: #000 1px solid;  background-color:#697AC7" class="btn btn-success" routerLink="/login"> Ingresar </button> </td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>