<div style="text-align: center;">
    <table class="table table-dark">
        <thead>
            <tr>
                <th>id</th>
                <th>nombre de la seccion</th>
                <th>Operaciones</th>
            </tr>
        </thead>
        <tbody> 
            <tr *ngFor="let seccion of getSec">
                <td>
                    {{seccion.nombre_seccion}}
                </td>
                <td>
                    {{seccion.id_seccion}}
            </td>
            <td>
                <div class="btn-group btn-group-sm">
                    <button (click)="eliminarSeccion(seccion.id_seccion);" class="btn btn-danger">Eliminar</button>
                    <button (click)="editarSeccion(seccion)" class="btn btn-primary">Editar </button>
                </div>
            </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="card">
    <div class="card-header">Formulario de seccion </div>
    <div class="card-body">
        <form [formGroup]="formSec" (ngSubmit)="guardarSeccion()">
            <input formControlName="id_seccion" type="hidden">
            <div class="form-group">
                <input formControlName="nombre_seccion" placeholder="¿Cual es el nombre de la seccion?" type="text" class="form-control">
            </div>
            <button class="btn btn-success">Guardar seccion</button>
        </form>
    </div>
</div>
