<div style="text-align: center;">
    <table class="table table-dark">
        <thead>
            <tr>
                <th>Imagen</th>
                <th>Categoría</th>
                <th>Cantidad Total</th>
                <th>Cantidad en Sección</th>
                <th>Sección</th>
                <th>Descripción</th>
                <th>Estado</th>
                <th>Valor</th>
                <th>Origen</th>
                <th>Fecha de Alta</th>
                <th>Fecha de Baja</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let articulo of getArt">
                <td>
                    {{articulo.img}}
                </td>
                <td>
                    {{articulo.categoria}}
                </td>
                <td>
                    {{articulo.cant_total}}
                </td>
                <td>
                    {{articulo.cant}}
                </td>
                <td>
                    {{articulo.seccion}}
                </td>
                <td>
                    {{articulo.descripcion}}
                </td>
                <td>
                    {{articulo.estado}}
                </td>
                <td>
                    {{articulo.valor}}
                </td>
                <td>
                    {{articulo.origen}}
                </td>
                <td>
                    {{articulo.fecha_alta}}
                </td>
                <td>
                    {{articulo.fecha_baja}}
                </td>
            </tr>
        </tbody>
    </table>
</div>