<div style="margin-top: 100px;"></div>
<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
        <app-articulo></app-articulo>
    </div>
    <div class="col-sm-2"></div>
</div>
<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
        <app-categoria></app-categoria>
    </div>
    <div class="col-sm-2"></div>
</div>
<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
        <app-seccion></app-seccion>
    </div>
    <div class="col-sm-2"></div>
</div>