<div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
        <app-form-articulo></app-form-articulo>
    </div>
    <div class="col-sm-3"></div>
</div>
<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
        <app-articulo></app-articulo>
    </div>
    <div class="col-sm-2"></div>
</div>
<div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
        <app-form-categoria></app-form-categoria>
    </div>
    <div class="col-sm-3"></div>
</div>
<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
        <app-categoria></app-categoria>
    </div>
    <div class="col-sm-2"></div>
</div>
<div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
        <app-form-seccion></app-form-seccion>
    </div>
    <div class="col-sm-3"></div>
</div>
<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
        <app-seccion></app-seccion>
    </div>
    <div class="col-sm-2"></div>
</div>